section {
  padding: 50px 0;
}

.idea-description h1 {
  font-size: 45px;
}
.idea-description h2 {
  font-size: 40px;
}
.idea-description h3 {
  font-size: 35px;
}
.idea-description h4 {
  font-size: 30px;
}
.idea-description h5 {
  font-size: 24px;
}
.idea-description h6 {
  font-size: 20px;
}

.container {
  max-width: 600px;
}

.hero p {
  margin-top: 10px;
}

.hero p.username {
  padding-left: 10px;
  margin-left: 2px;
  border-left: 2px solid var(--dark-muted);
}

.comments form,
.vote {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 1em;
}

.comments form label,
.vote label {
  background-color: var(--color-100);
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 5px;
  grid-template-columns: repeat(2, auto);
  padding: 10px;
  cursor: pointer;
}

.comments form label img,
.vote label img {
  margin: 0 6px 0 0;
  position: relative;
  top: -5px;
}

.comments form label:first-of-type,
.vote label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.comments form label:last-of-type,
.vote label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.comments form label.active,
.vote label.active {
  background-color: var(--color-600);
  cursor: not-allowed;
}

.comments form input,
.vote input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-comments {
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1em 0 2em;
  list-style: none;
}

.tags li {
  margin: 0 1em 0 0;
  padding: 2px 5px;
  border: 1px solid currentColor;
  transform: rotate(0);
  will-change: transform;
  transition: transform 0.1s ease;
  display: flex;
}

.tags form {
  margin: 0 0 0 5px;
}

.tags form button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  border: 0;
}

.tags li:hover {
  transform: rotate(-3deg);
}

.comments form {
  margin-top: 1em;
  margin-bottom: 0;
  max-width: 160px;
  margin-left: auto;
}

.comments form label {
  margin: 0;
  border: 1px solid var(--light-muted);
}

.comments form label img {
  margin-right: 2px;
  top: -3px;
}

.comments {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 16px;
  list-style: none;
}

.comments li {
  background-color: var(--color-100);
  border-radius: 5px;
  margin: 0;
  padding: 20px;
}

.comments li .user {
  padding: 0;
  border: 0;
  margin: 0 0 10px 0;
  color: var(--dark);
}

.comments li .description {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--light);
}

.comments form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

form.comment {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  margin-bottom: 2em;
}

form.comment label {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5px;
  margin: 0;
}

form.comment textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-100);
  min-height: 120px;
}

form.comment button {
  padding: 10px 14px;
  width: max-content;
  background-color: var(--color-100);
  margin: 0 0 0 auto;
  border-radius: 5px;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  .hero p.username {
    border-left: 2px solid var(--light-muted);
  }
}

@media (min-width: 1024px) {
  section {
    padding: 100px 0;
  }
}
