section {
  padding: 50px 0;
}

.container {
  max-width: 600px;
}

.hero p {
  padding-left: 10px;
  margin-left: 2px;
  border-left: 2px solid var(--dark-muted);
  margin-top: 10px;
}

.comments form,
.vote {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 2em;
}

.comments form label,
.vote label {
  background-color: var(--color-100);
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 5px;
  grid-template-columns: repeat(2, auto);
  padding: 10px;
  cursor: pointer;
}

.comments form label img,
.vote label img {
  margin: 0 6px 0 0;
  position: relative;
  top: -5px;
}

.comments form label:first-of-type,
.vote label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.comments form label:last-of-type,
.vote label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.comments form label.active,
.vote label.active {
  background-color: var(--color-600);
  cursor: not-allowed;
}

.comments form input,
.vote input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.comments form {
  margin-top: 2em;
  margin-bottom: 0;
}

.comments form label {
  margin: 0;
  border: 1px solid var(--light-muted);
}

.comments {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 16px;
  list-style: none;
}

.comments li {
  background-color: var(--color-100);
  border-radius: 5px;
  margin: 0;
  padding: 20px;
}

.comments li .user {
  padding: 0;
  border: 0;
  margin: 0 0 10px 0;
  color: var(--dark);
}

.comments li .description {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--light);
}

.comments form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

form.comment {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  margin-bottom: 2em;
}

form.comment label {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5px;
  margin: 0;
}

form.comment textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-100);
  min-height: 120px;
}

form.comment button {
  padding: 10px 14px;
  width: max-content;
  background-color: var(--color-100);
  margin: 0 0 0 auto;
  border-radius: 5px;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  .hero p {
    border-left: 2px solid var(--light-muted);
  }
}

@media (min-width: 1024px) {
  section {
    padding: 100px 0;
  }
}
